.contacts {
    font-style: normal;
    text-align: right;
    position: relative;
}

.contacts:hover .contacts__menu{
    left: 0;
    opacity: 1;
}

.contacts__menu{
    position: absolute;
    background: url(../../img/icons/drop.png);
    border: 1px solid black;
    padding: 22px 19px;
    width: 159px;
    height: 79px;
    color: black;
    top: 100%;
    opacity: 0;
    transition: opacity .4s;
    left: -9999px;
}

.contacts__item{
    font-size: 13px;
    line-height: 1.6;
    display: flex;
    justify-content: start;
}


.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 1;
    display: block;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
    line-height: 1;
    display: block;
}

.contacts__callnews{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 6px;
}

