.footer__container{
    border-top: 1px solid rgb(255 255 255 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 43px 0;
}

.footer__col{
    display: flex;
    align-items: center;
}

.footer__logo{
    margin-right: 129px;
}


.footer__social{
    margin-right: 72px;
}