.top-line{
    min-height: 415px;
    background: url(/img/services/top-line.png) center top / auto no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.top-line__header{
    margin-bottom: 0;
}

.top-line__container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title{
    font-size: 72px;
    line-height: 1.36;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 32px;
}
